# Lab 5

Aditya Kharosekar amk3587
Rahul Jain rj8656


# Chapter 4 Problem 10

In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.metrics import confusion_matrix

In [54]:
weekly = pd.read_csv("Weekly.csv")

In [55]:
weekly.head()

,Unnamed: 0,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction
0,1,1990,0.816,1.572,-3.936,-0.229,-3.484,0.154976,-0.270,Down
1,2,1990,-0.270,0.816,1.572,-3.936,-0.229,0.148574,-2.576,Down
2,3,1990,-2.576,-0.270,0.816,1.572,-3.936,0.159837,3.514,Up
3,4,1990,3.514,-2.576,-0.270,0.816,1.572,0.161630,0.712,Up
4,5,1990,0.712,3.514,-2.576,-0.270,0.816,0.153728,1.178,Up

In [56]:
weekly.shape

(1089, 10)

** NEED TO DO NUMERICAL/GRAPHICAL SUMMARIES **

## Logistic Regression on all data

In [57]:
logReg = LogisticRegression()
testing = weekly.loc[:,"Lag1":"Volume"]
testing.head()

    Lag1   Lag2   Lag3   Lag4   Lag5    Volume
0  0.816  1.572 -3.936 -0.229 -3.484  0.154976
1 -0.270  0.816  1.572 -3.936 -0.229  0.148574
2 -2.576 -0.270  0.816  1.572 -3.936  0.159837
3  3.514 -2.576 -0.270  0.816  1.572  0.161630
4  0.712  3.514 -2.576 -0.270  0.816  0.153728

In [58]:
logReg.fit(testing, weekly["Direction"])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [59]:
testing.describe()

,Lag1,Lag2,Lag3,Lag4,Lag5,Volume
count,1089.000000,1089.000000,1089.000000,1089.000000,1089.000000,1089.000000
mean,0.150585,0.151079,0.147205,0.145818,0.139893,1.574618
std,2.357013,2.357254,2.360502,2.360279,2.361285,1.686636
min,-18.195000,-18.195000,-18.195000,-18.195000,-18.195000,0.087465
25%,-1.154000,-1.154000,-1.158000,-1.158000,-1.166000,0.332022
50%,0.241000,0.241000,0.241000,0.238000,0.234000,1.002680
75%,1.405000,1.409000,1.409000,1.409000,1.405000,2.053727
max,12.026000,12.026000,12.026000,12.026000,12.026000,9.328214

The matrix shows the result of describe() on the matrix made up of the predictor variables. All 5 Lag variables are very similar to each other. The Volume variable, by its nature, has a different structure, but just based on the above matrix, it is hard to say whether any of these variables are by themselves statistically significant.

## Confusion Matrix

In [60]:
results = logReg.predict(testing)
print(results.shape)
results

(1089,)

array(['Up', 'Up', 'Up', ..., 'Up', 'Up', 'Up'], dtype=object)

In [61]:
print(confusion_matrix(weekly["Direction"], results))

[[ 55 429]
 [ 47 558]]

Figuring out which row corresponds to "Up" and which row corresponds to "Down" -

In [62]:
up_correct = 0
up_predicted_as_down = 0
for num in range(1089):
    if (weekly["Direction"][num]=="Up" and results[num]=="Up"):
        up_correct+=1
    if (weekly["Direction"][num]=="Up" and results[num]=="Down"):
        up_predicted_as_down +=1
print(up_correct)
print(up_predicted_as_down)

558
47

Interpretation of the confusion matrix - 
55 Downs and 558 Ups are predicted correctly. 47 Ups are predicted as downs and 429 Downs are predicted as ups.

Overall fraction of correct predictions - (55+558)/ (47+429+55+558) = 0.563

## Logistic Regression tested on 1990-2008 data

In [63]:
pre_2009 = weekly.loc[:984, :]
pre_2009.tail()

,Unnamed: 0,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction
980,981,2008,12.026,-8.389,-6.198,-3.898,10.491,5.841565,-2.251,Down
981,982,2008,-2.251,12.026,-8.389,-6.198,-3.898,6.093950,0.418,Up
982,983,2008,0.418,-2.251,12.026,-8.389,-6.198,5.932454,0.926,Up
983,984,2008,0.926,0.418,-2.251,12.026,-8.389,5.855972,-1.698,Down
984,985,2008,-1.698,0.926,0.418,-2.251,12.026,3.087105,6.760,Up

This doesn't seem a great way to separate the pre-2009 data from the rest but for now, this is how I will do it. I will change this when I figure out how to do this a better way

In [64]:
post_2009 = weekly.loc[985:, :]
post_2009.head()

,Unnamed: 0,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction
985,986,2009,6.760,-1.698,0.926,0.418,-2.251,3.793110,-4.448,Down
986,987,2009,-4.448,6.760,-1.698,0.926,0.418,5.043904,-4.518,Down
987,988,2009,-4.518,-4.448,6.760,-1.698,0.926,5.948758,-2.137,Down
988,989,2009,-2.137,-4.518,-4.448,6.760,-1.698,6.129763,-0.730,Down
989,990,2009,-0.730,-2.137,-4.518,-4.448,6.760,5.602004,5.173,Up

In [65]:
lag2_training  = pre_2009["Lag2"]
lag2_training.shape

(985,)

In [66]:
lag2_training = np.reshape(lag2_training, (985, 1)) # to get rid of a deprecation warning
new_logistic_regr = LogisticRegression()
new_logistic_regr.fit(lag2_training, pre_2009["Direction"])

C:\Users\Aditya Kharosekar\Documents\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:224: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  return reshape(newshape, order=order)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [67]:
lag2_testing = post_2009["Lag2"]
lag2_testing.shape

(104,)

In [68]:
lag2_testing = np.reshape(lag2_testing, (104, 1))
new_results = new_logistic_regr.predict(lag2_testing)
print(confusion_matrix(post_2009["Direction"], new_results))

[[ 9 34]
 [ 5 56]]

C:\Users\Aditya Kharosekar\Documents\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:224: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  return reshape(newshape, order=order)

Assuming the same row-wise interpretation of the confusion matrix as before, the interpretation of the matrix is as follows - 
9 Downs and 56 Ups are predicted correctly. 5 Ups are predicted as Downs and 34 Downs are predicted as Ups.
Overall fraction of correct predictions = (9+34)/(9+34+5+56) = 0.413

## Linear Discriminant Analysis

In [69]:
lag2_training.shape

(985, 1)

In [70]:
lda = LDA()
lda.fit(lag2_training, pre_2009["Direction"])

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

In [71]:
lda_results = lda.predict(lag2_testing)

In [72]:
print(confusion_matrix(post_2009["Direction"], lda_results))

[[ 9 34]
 [ 5 56]]

This is the exact same confusion matrix as the last logistic regression model. Let's see if both the models have the same predictions for each instance.

In [73]:
x1 = new_logistic_regr.predict_log_proba(lag2_training)
x2 = lda.predict_log_proba(lag2_training)
for num in range(5): #printing out only the first few
    print(x1[num], x2[num])

[-0.85074208 -0.55704038] [-0.85097261 -0.55686856]
[-0.82583009 -0.57602457] [-0.82621748 -0.57572292]
[-0.79087438 -0.60412607] [-0.79147622 -0.60362703]
[-0.719923   -0.66706965] [-0.72093726 -0.66610856]
[-0.91688866 -0.5104272 ] [-0.91668814 -0.51056077]

As the log probabilities returned by both these models are not the same, the fact that both these models return the same confusion matrix is not an issue.

Interpretration of the confusion matrix - 
9 Downs and 56 Ups are predicted correctly. 5 Ups are predicted as Downs and 34 Downs are predicted as Ups. Overall fraction of correct predictions = (9+34)/(9+34+5+56) = 0.413

## QDA

In [74]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as QDA
qda = QDA()
qda.fit(lag2_training, pre_2009["Direction"])

QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
               store_covariances=False, tol=0.0001)

In [75]:
qda_results = qda.predict(lag2_testing)
print(confusion_matrix(post_2009["Direction"], qda_results))

[[ 0 43]
 [ 0 61]]

61 Ups are predicted correctly and 43 Downs are predicted as Ups. So it looks like this model is predicting everything as an Up. I am not sure if this is supposed to happen.

Overall fraction of accurate predictions - 61/104 = 0.59

## KNN

In [76]:
from sklearn.neighbors import KNeighborsClassifier as KNN
knn = KNN()
knn.fit(lag2_training, pre_2009["Direction"])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [77]:
knn_results = knn.predict(lag2_testing)
print(confusion_matrix(post_2009["Direction"], knn_results))

[[16 27]
 [22 39]]

16 Downs are predicted correctly and 39 Ups are predicted correctly. 22 Ups are predicted as Downs and 27 Downs are predicted as Ups.

Overall fraction of accurate predictions - (16+39)/(16+39+22+27) = 0.53

QDA seems to provide the best results with an accuracy of 0.59

# Chapter 5 Problem 5

In [78]:
default = pd.read_csv("Default.csv")
import random

In [79]:
random.seed() #setting random seed

In [80]:
default.head()

   Unnamed: 0 default student      balance       income
0           1      No      No   729.526495  44361.62507
1           2      No     Yes   817.180407  12106.13470
2           3      No      No  1073.549164  31767.13895
3           4      No      No   529.250605  35704.49394
4           5      No      No   785.655883  38463.49588

In [81]:
X = default.loc[:,"balance":"income"]
X.head()

       balance       income
0   729.526495  44361.62507
1   817.180407  12106.13470
2  1073.549164  31767.13895
3   529.250605  35704.49394
4   785.655883  38463.49588

In [82]:
y = default["default"]
print(y.shape)
y.head()

(10000,)

0    No
1    No
2    No
3    No
4    No
Name: default, dtype: object

### With default train/test split (75% train, 25% test)

In [83]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [84]:
logistic_regr = LogisticRegression()
logistic_regr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [85]:
logistic_results = logistic_regr.predict(X_test)

In [86]:
logistic_results.shape

(2500,)

In [87]:
y_test.shape

(2500,)

In [88]:
y_test = pd.Series(y_test)

In [89]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, logistic_results)
print(accuracy)

0.9636

In [90]:
print("Validation error: ", 1-accuracy)

Validation error:  0.0364

## Now with 3 different data splits

### First, I will try a 50-50 train test split

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)

In [92]:
X_train.shape, X_test.shape

((5000, 2), (5000, 2))

In [93]:
logistic_regr = LogisticRegression()
logistic_regr.fit(X_train, y_train)
logistic_results = logistic_regr.predict(X_test)

In [94]:
accuracy = accuracy_score(y_test, logistic_results)
accuracy

0.96599999999999997

In [95]:
print("Validation error: ", 1-accuracy)

Validation error:  0.034

### Now, I will try a 65% train - 35% test split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35)
X_train.shape, X_test.shape

((6500, 2), (3500, 2))

In [97]:
logistic_regr = LogisticRegression()
logistic_regr.fit(X_train, y_train)
logistic_results = logistic_regr.predict(X_test)
accuracy = accuracy_score(y_test, logistic_results)
accuracy

0.96657142857142853

In [98]:
print("Validation error: ", 1-accuracy)

Validation error:  0.0334285714286

### Finally I will try a 35% train - 65% test split

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.65)
X_train.shape, X_test.shape

((3500, 2), (6500, 2))

In [100]:
logistic_regr = LogisticRegression()
logistic_regr.fit(X_train, y_train)
logistic_results = logistic_regr.predict(X_test)
accuracy = accuracy_score(y_test, logistic_results)
accuracy

0.96953846153846157

In [101]:
print("Validation error: ", 1-accuracy)

Validation error:  0.0304615384615

** Comment on results **

Using dummy variable for student

In [102]:
X2 = default.loc[:,"student" :"income"]
X2.head()

  student      balance       income
0      No   729.526495  44361.62507
1     Yes   817.180407  12106.13470
2      No  1073.549164  31767.13895
3      No   529.250605  35704.49394
4      No   785.655883  38463.49588

In [103]:
X2=  pd.get_dummies(X2, columns = {"student"})
X2.head()

       balance       income  student_No  student_Yes
0   729.526495  44361.62507           1            0
1   817.180407  12106.13470           0            1
2  1073.549164  31767.13895           1            0
3   529.250605  35704.49394           1            0
4   785.655883  38463.49588           1            0

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size = 0.25)
X_train.shape, X_test.shape

((7500, 4), (2500, 4))

In [105]:
logistic_regr = LogisticRegression()
logistic_regr.fit(X_train, y_train)
logistic_results = logistic_regr.predict(X_test)
accuracy = accuracy_score(y_test, logistic_results)
accuracy

0.96079999999999999

The original 75-25 split without including student data had an accuracy of .95. So there is a negligible improvement when including the student infromation.

## Chapter 6 Problem 9

In [154]:
college = pd.read_csv("College.csv")
college.shape
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [155]:
X = college.drop("Apps", axis=1)
y = college["Apps"]
X = X.loc[:, "Private":"Grad.Rate"]

In [156]:
X.head()

,Private,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [157]:
X = pd.get_dummies(X, columns = ["Private"])
X.head()

,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate,Private_No,Private_Yes
0,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60,0,1
1,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56,0,1
2,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54,0,1
3,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59,0,1
4,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15,0,1

In [158]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

### Using Least Squares Regression

In [159]:
ols = LinearRegression()
ols.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [166]:
from sklearn.metrics import mean_squared_error
test_error = mean_squared_error(y_test, ols.predict(X_test))
print(test_error)

1264680.30702

### Using Ridge Regression Model with CV

In [167]:
from sklearn.linear_model import RidgeCV

In [172]:
ridge = RidgeCV(alphas = (0.01, 0.1, 0.25, 0.5, 0.75, 1, 5, 10), cv=5)
ridge.fit(X_train, y_train)

RidgeCV(alphas=(0.01, 0.1, 0.25, 0.5, 0.75, 1, 5, 10), cv=5,
    fit_intercept=True, gcv_mode=None, normalize=False, scoring=None,
    store_cv_values=False)

In [173]:
test_error = mean_squared_error(y_test, ridge.predict(X_test))
print(test_error)

1268189.51108

### Using Lasso Regression with CV

In [174]:
from sklearn.linear_model import LassoCV

In [175]:
lasso = LassoCV(alphas = (0.01, 0.1, 0.25, 0.5, 0.75, 1, 5, 10), cv=5)
lasso.fit(X_train, y_train)

LassoCV(alphas=(0.01, 0.1, 0.25, 0.5, 0.75, 1, 5, 10), copy_X=True, cv=5,
    eps=0.001, fit_intercept=True, max_iter=1000, n_alphas=100, n_jobs=1,
    normalize=False, positive=False, precompute='auto', random_state=None,
    selection='cyclic', tol=0.0001, verbose=False)

In [176]:
test_error = mean_squared_error(y_test, lasso.predict(X_test))
print(test_error)

1280375.71443

In [182]:
count = 0
for num in range(len(lasso.coef_)):
    if lasso.coef_[num]==0.0:
        count+=1
print(lasso.coef_)
print("There are",len(lasso.coef_)-count, "non-zero coefficients")

[  1.68205374e+00  -9.64686752e-01   4.61157606e+01  -1.22904346e+01
   5.30474736e-02   7.38482597e-02  -1.17279555e-01   1.32761845e-01
  -1.31188088e-01  -2.35847770e-02  -8.80245530e+00  -1.90215551e+00
   7.17000514e+00  -3.28866373e+00   9.18955694e-02   9.03040808e+00
   1.95697205e+02  -0.00000000e+00]
There are 17 non-zero coefficients